$font-baloo : "Baloo Thambi 2" , cursive;
$font-raleway : "Raleway" , cursive;
$font-rubik : "Rubik" , cursive;
$color-primary: #003859;
$color-second: #1d6770;
$color-yellow: #FFD289;
$color-navbar: #1a656e;